<html data-scribe-reduced-action-queue="true" lang="en" ng-app="home" >
<!--<![endif]-->
<head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
<meta charset="utf-8">
<title>Welcome</title>
	<link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/angular_material/1.0.0/angular-material.min.css">
   	<link rel='stylesheet' href='stylesheets/style.css' />
   	<link rel='stylesheet' href='stylesheets/font.css' />
   	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
   	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
   	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
   	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
   	<script src="http://code.jquery.com/ui/1.9.2/jquery-ui.js"></script>
   	<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-sanitize.js"></script>
   	<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-animate.min.js"></script>
   	<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-aria.min.js"></script>
   	<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-messages.min.js"></script>
   	<script src="http://ajax.googleapis.com/ajax/libs/angular_material/1.0.0/angular-material.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/angular-material-icons/0.6.0/angular-material-icons.min.js"></script>
   	<script src="angularjs/homeAngular.js"></script>
	<meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
	<meta http-equiv="Pragma" content="no-cache" />
	<meta http-equiv="Expires" content="0" />
  <script>

                      console.log("try");
                    </script>
</head>
<body ng-controller="home" ng-cloak>
	<div class="homeTop">
		<div class="homeTopContainer">
			<div class="homeNavigation">
				<div class="container">
          <div class="homeTopbar">
            <div class="leftPanel">
              <ul>
                <li class="upperTab" style="border-bottom-color: #0084B4;    border-bottom: 5px solid #1b95e0;
    transition: all .15s ease-in-out; height:42px;">
    <ul style="padding: 0px;"><li><a href="/homepage" style="color: #66757f;font-size: 14px;">
                  <span class="Icon Icon--home Icon--large" style="float: left;margin: 11px 0 0 10px;width: 23px;height: 23px"></span></li><li>
                    <span class="text">Home</span></a>  </li></ul>
              </li>
               <li class="upperTab">
                <ul style="padding: 0px;"><li>
            <span class="Icon Icon--lightning Icon--large" style="float: left;margin: 11px 0 0 10px;width: 23px;height: 23px"></span></li><li>
            <span class="text">Moments</span></li></ul>
          </li>
              <li class="upperTab" >
                <ul style="padding: 0px;"><li>
                <span class="Icon Icon--notifications Icon--large" style="float: left;margin: 11px 0 0 10px;width: 23px;height: 23px"></span></li><li>
                <span class="text">Notifications</span></li></ul>

              
          </li>

          <li class="upperTab" >
            <ul style="padding: 0px;"><li>
                <span class="Icon Icon--dm Icon--large" style="float: left;margin: 11px 0 0 10px;width: 23px;height: 23px"></span></li><li>
                <span class="text">Messages</span>

              </li></ul>
          </li>

        </ul>
      </div>
      <div class="homeLogo" style="position:absolute;margin-left:70%;">
      <h1 class="Icon Icon--bird bird-topbar-etched" style="display: inline-block; width: 24px; height: 21px;color: #1da1f2;
    font-size: 21px;
    margin-top: 14px;
    margin-left: -24px;transition: all .25s ease-in-out;">
      <span class="visuallyhidden">Twitter</span>
      </h1>
      </div>
      <div class="rightPanel">
        <ul>
          <li>
            <a href="/search">
           <button type="submit" class="btn btn-primary btn-sm" style="margin-top: 7px; margin-right:7px;">Search</button> 
         </a>
          </li>
          <li>
            <a href="/logout">
             <button type="submit" class="btn btn-primary btn-sm" style="margin-top: 7px;">Log out</button> 
            </a>
          </li></ul>
        </div>
      </div>
      <div style="height:5000px;margin-top:50px;" layout="row" layout-wrap>
        <div flex="33" class="leftProfile">
          <div class="dashboardProfile">
           <div class="profileDisplayLeft">
            
               <img style="    background: #fff;
                                border: 5px solid #fff;
                                border-radius: 12px;
                                box-shadow: 0 1px 1px rgba(136,153,166,0.15);
                                position: relative; height:228px;width:228px;" src="../images/<%=username%>.jpeg" class="img-rounded">
                    <a href="/<%=username%>">
                    <h3 style="margin-left:13px;color:black;"><%=first_name%> <%=last_name%></h3></a>
                    
                    
                    <a href="/<%=username%>"><h4 style="padding-left:10px;margin-top:2px;">@<%=username%></h4></a> 
                    
                    <div class="profileStats">
                      <ul>
                    <li class="sizeFit">
        <a href="/homepage" data-element-term="tweet_stats">
          <span class="statLabel">Tweets</span>
          <span class="statValue"><%=tweet_count%></span>
        </a>
      </li>
                      <li class="sizeFit">
          <a href="/follow" data-element-term="following_stats">
            <span class="statLabel">Following</span>
            <span class="statValue"><%=following_count%></span>
          </a>
        </li>
                      <li class="sizeFit">
          <a href="/follow" data-element-term="follower_stats">
            <span class="statLabel">Followers</span>
            <span class="statValue"><%=follower_count%></span>
          </a>
        </li>
                  </ul>
                    </div>
                    <a href="/editProfile">
                    <button type="submit" class="btn btn-primary btn-sm" style="margin-top: 7px; margin:13px; width:200px;" ng-click="editProfile();">
                      <span class="NewTweetButton-icon Icon Icon--editPencil Icon--medium"></span>
                      <span class="NewTweetButton-text" aria-hidden="true">Edit profile</span>
                    </button>
                  </a>


          </div> 
        </div>
        </div>

        <md-divider></md-divider>
        <div flex="66">
         <div layout="column" layout-wrap>
          <md-content md-dynamic-height="">
          <md-input-container style="width:100%; margin-bottom:0px;">
          <label>Tweet</label>
          <textarea ng-model="tweetTextArea" minlength="1" required="true" maxlength="140" md-maxlength="140" ></textarea>
          </md-input-container>
          <button type="submit" class="btn btn-primary btn-sm" ng-disabled="tweetTextArea.length<=0" style="margin-left: 83%; margin-bottom:10px;width: 14%;" ng-click="tweet();">
            <span class="NewTweetButton-icon Icon Icon--tweet Icon--medium"></span>
                      <span class="NewTweetButton-text" aria-hidden="true">Tweet</span>
          </button>
          <md-divider></md-divider>
          
         
          <md-list flex="100">
          <% for(var i=0;i<tweets.length;i++)
          {
           %>
           


           
           <md-list-item class="md-3-line md-long-text">
             <img ng-src="../images/<%= tweets[i].TWITTER_HANDLE%>.jpeg" class="md-avatar" alt="">
                <div class="md-list-item-text">
                  <div ng-show="'<%=tweets[i].ORIGINAL_TWITTER_HANDLE%>'">
                    <h3> <%= tweets[i].ORIGINAL_FIRST_NAME%> <%= tweets[i].ORIGINAL_LAST_NAME%></h3> <h4><a href="/<%= tweets[i].ORIGINAL_TWITTER_HANDLE%>">@<%= tweets[i].ORIGINAL_TWITTER_HANDLE%></a></h4>
                  </div>
                  <div ng-hide="'<%=tweets[i].ORIGINAL_TWITTER_HANDLE%>'">
                    <h3> <%= tweets[i].FIRST_NAME%> <%= tweets[i].LAST_NAME%></h3> <h4><a href="/<%= tweets[i].TWITTER_HANDLE%>">@<%= tweets[i].TWITTER_HANDLE%></a></h4>
                  </div>
                    <span >
                    <p style="overflow-wrap: break-word;" ng-bind-html="trustHtml('<%=tweets[i].TWEET%>')">
                      

                    </p></span>

                    <div class="tweetIcon">
                    <ul>

                       <li ng-show="'<%= tweets[i].TWITTER_HANDLE%>' == '<%=username%>'">
                    <md-button class="md-icon-button launch" ng-click="deleteTweet(<%=tweets[i].TWEET_ID%>);">
                    <md-icon md-svg-src="../images/ic_delete_black_18px.svg" style="margin-top:5px; height:15px;width:15px; float-right;" aria-label="android "></md-icon>
                  </md-button>
                </li>
                      <li>
                    <md-button class="md-icon-button launch" ng-click="retweet(<%=tweets[i].TWEET_ID%>);">
                    <md-icon md-svg-src="../images/ic_repeat_black_18px.svg" style="margin-top:5px; height:15px;width:15px; float-right;" aria-label="android "></md-icon>
                  </md-button>
                </li>
                </ul>
                <div ng-show="'<%=tweets[i].ORIGINAL_TWITTER_HANDLE%>'">
                         <p>Retweeted by <a href="/<%= tweets[i].TWITTER_HANDLE%>"><b>@<%= tweets[i].TWITTER_HANDLE%></b></a></p>
                      </div>
                
              </div>
                </div>
            </md-list-item>
            <md-divider></md-divider>
       <%
        }
        %>
   </md-list>
 </md-content>
 

          
        </div>
      </div>
    </div>


  </div>


</div>

</div>
</div>
</body>
</html>